*{

    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    
}


.bgg{
    background: linear-gradient(90deg, rgba(153,183,198,1) 35%, rgba(189,216,230,1) 100%);

}

body {
    background-image: url('../../public/bg.jpg');
}